#!.travis.yaml
branches:
  only:
    - master

install:
  - export HUGOVER=0.53
  #- wget -qO- https://api.github.com/repos/gohugoio/hugo/releases/latest | sed -r -n '/browser_download_url/{/Linux-32bit.tar.gz/{s@[^:]*:[[:space:]]*"([^"]*)".*@\1@g;p}}' | xargs wget
  - wget https://github.com/gohugoio/hugo/releases/download/v${HUGOVER}/hugo_${HUGOVER}_Linux-32bit.tar.gz
  - tar xvf hugo_${HUGOVER}_Linux-32bit.tar.gz
  - rm -rf public/

script:
  - ./hugo --minify
  - echo 'cfgmgmtcamp.eu' > public/CNAME
  - echo '' > public/schedule/schedule.ics
  - if [[ -f public/schedule/monday/index.ics ]]; then; cat public/schedule/monday/index.ics >> public/schedule/schedule.ics; fi
  - if [[ -f public/schedule/tuesday/index.ics ]]; then; cat public/schedule/tuesday/index.ics >> public/schedule/schedule.ics; fi

deploy:
  provider: pages
  skip-cleanup: true
  github_token: ${GH_TOKEN}
  verbose: true
  keep-history: true
  local-dir: public
  target_branch: gh-pages
  on:
    branch: master

notifications:
  irc:
    channels:
      - "irc.frenode.org#cfgmgmtcamp"
    on_success: change













