{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<section id="speaker">
	<div id="speaker">
		<h1>
		{{ .Title }}
		{{ if isset .Params "twitter" }}
			<br>
			<a href="https://twitter.com/{{ .Param "twitter" }}"><i class="fab fa-twitter"></i> @{{ .Param "twitter" }}</a>
		{{ end }}
		</h1>
		{{ if isset .Params "image" }}
			<div class=speaker-image>
			{{ $image := .Param "image" }}
			{{ $imageurl := urls.Parse $image }}
			{{ if eq $imageurl.Scheme "https" }}
				<img src="{{ $image }}" alt="{{ .Title }}">
			{{ else }}
				{{ $imagelocation := (printf "%s/%s" "images/speakers/" $image) }}
				{{ $imageresource := resources.Get $imagelocation }}
				{{ $imagefile := $imageresource.Fit "400x400" }}
				<img src="{{ $imagefile.RelPermalink }}" alt="{{ .Title }}">
			{{ end }}
			</div>
		{{ end }}
		<div class="event-speaker">
			{{ .Content }}
		</div>
		<div class="event-talks">
		<h3>Talks</h3>
		<ul>
		{{ $speakercode := .File.BaseFileName }}
		{{ range where .Site.RegularPages "Section" "schedule" }}
			{{ $speaker := .Param "speaker" }}
			{{ if eq $speakercode $speaker }}
				<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
			{{ end }}
		{{ end }}
		</ul>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}
