<!-- Begin Piwik Code -->
<script type="text/javascript" >
	var _paq = _paq || [];
	_paq.push(['setDoNotTrack', false]);
	_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
	_paq.push(['trackPageView']);
	_paq.push(['enableLinkTracking']);
	_paq.push(['enableHeartBeatTimer', 5]);
	_paq.push(['setLinkTrackingTimer', 25]);
(function() {
	var u="{{ .Site.Params.analytics.piwik.URL }}/";
		_paq.push(['setTrackerUrl', u+'piwik.php']);
		_paq.push(['setSiteId', {{ .Site.Params.analytics.piwik.ID }}]);
	var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
		g.type='text/javascript';
		g.async=true;
		g.defer=true;
		g.src=u+'piwik.js';
		s.parentNode.insertBefore(g,s);
	})();
</script>
<noscript>
	<p>
		<img src="{{ .Site.Params.analytics.piwik.URL }}/piwik.php?idsite={{ .Site.Params.analytics.piwik.ID }}" style="border:0;" alt="" />
	</p>
</noscript>
<!-- End Piwik Code -->
