<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="MobileOptimized" content="width" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@cfgmgmtcamp" />
	<meta name="twitter:creator" content="@cfgmgmtcamp" />
	<meta name="twitter:title" content="{{- .Title | plainify | htmlUnescape -}}" />
	<meta name="twitter:description" content="{{- .Content | plainify | htmlUnescape -}}" />
	{{ if (isset .Params "image") }}
		<meta name="twitter:image" content="{{- .Params.image -}}" />
		<meta name="twitter:image:alt" content="CfgMgmtCamp" />
	{{ else if (isset .Params "speaker") }}
		{{- $speaker := .Param "speaker" -}}
		{{- $speakerfile := printf "%s/%s" "speaker" $speaker -}}
		{{- with .Site.GetPage $speakerfile -}}
			{{- if isset .Params "image" -}}
				<meta name="twitter:image" content="{{ .Param "image" }}" />
			{{- end -}}
			<meta name="twitter:image:alt" content="{{ .Title }}" />
		{{- end -}}
	{{ else }}
		<meta name="twitter:image" content="https://cfgmgmtcamp.eu/images/logo_top.png" />
		<meta name="twitter:image:alt" content="CfgMgmtCamp" />
	{{ end }}
	<link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
	{{ $leafletstylecss := resources.Get "css/leaflet.css" }}
	{{ $leafletcss := $leafletstylecss | resources.Minify }}
	<link href="{{ $leafletcss.RelPermalink }}" rel="stylesheet" type="text/css">
	{{ $resetstylecss := resources.Get "css/reset.css" }}
	{{ $resetcss := $resetstylecss | resources.Minify }}
	<link href="{{ $resetcss.RelPermalink }}" rel="stylesheet" type="text/css">
	{{ $stylesheetstylecss := resources.Get "css/stylesheet.css" }}
	{{ $stylesheetcss := $stylesheetstylecss | resources.Minify }}
	<link href="{{ $stylesheetcss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $pygmentstylecss := resources.Get "css/pygment_trac.css" }}
	{{ $pygmentcss := $pygmentstylecss | resources.Minify }}
	<link href="{{ $pygmentcss.RelPermalink }}" rel="stylesheet" type="text/css" media="screen">
	{{ $printstylecss := resources.Get "css/print.css" }}
	{{ $printcss := $printstylecss | resources.Minify }}
	<link href="{{ $printcss.RelPermalink }}" rel="stylesheet" type="text/css" media="print">
	{{ $schedulestylecss := resources.Get "css/schedule.css" }}
	{{ $schedulecss := $schedulestylecss | resources.Minify }}
	<link href="{{ $schedulecss.RelPermalink }}" rel="stylesheet" type="text/css">
	{{ $schedulesinglestylecss := resources.Get "css/schedule-single.css" }}
	{{ $schedulesinglecss := $schedulesinglestylecss | resources.Minify }}
	<link href="{{ $schedulesinglecss.RelPermalink }}" rel="stylesheet" type="text/css">
	<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
	<link rel="shortcut icon" href="favicon.ico">
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	{{ $leafletjavascript := resources.Get "js/leaflet.js" }}
	{{ $leafletjs := $leafletjavascript | resources.Minify }}
	<script src="{{ $leafletjs.RelPermalink }}"></script>
	<title>{{ .Title }}</title>
</head>
<body>
